<div mat-dialog-content>
  <h3>Are you sure about deletion of the following applications</h3>
  <mat-list role="list">
    <mat-list-item *ngFor="let item of object" [value]="item" role="listitem">{{item.name}} - {{item.image}} - {{item._id}}</mat-list-item>
  </mat-list>
  <input matInput [(ngModel)]="confirmation" />
  <h5>Type 'delete' to delete items</h5>
  <button
  [disabled]="confirmation != 'delete'"
  mat-button
  (click)="onClickDelete()"
>
  Delete
</button>
  <button mat-button (click)="onClickCancel()">Cancel</button>

</div>